<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csp.cases">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 硬件相关 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 相机 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动 -->

    <!-- 悬浮窗 -->
    <uses-permission android:name="android.Manifest.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 存储相关 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 安装应用 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 自定义权限 -->
    <permission android:name="android.cases.custom.permission" />
    <uses-permission android:name="android.cases.custom.permission" />

    <application
        android:name=".CaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/item_card"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/item_card"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 静态注册广播 -->
        <receiver
            android:name=".activity.component.broadcast.StaticReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="android.cases.receiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!-- 注释掉，则使应用隐藏桌面快捷方式，报错请修改启动配置的 Launcher Options 为 nothing -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 启动模式 -->
        <activity
            android:name=".activity.activity.luanchmod.LauchModeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.activity.luanchmod.SingleTopActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.activity.luanchmod.SingleTaskActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.activity.luanchmod.SingleInstanceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />

        <!-- Android 7.0 文件权限 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <!-- 案例Activity -->
        <activity
            android:name=".activity.TestActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.animation.AnimationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.animation.VelocityTrackerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.animation.GestureDetectorActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.permissions.PermissionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.component.broadcast.BroadcastActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.component.ComponentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.component.DialogActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.component.NotificationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.component.ToastActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.MetricsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.storage.StorageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.SharedPreferencesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.view.ViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.view.ViewEventActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.storage.database.SqliteActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.ProcessActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.intent.IntentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.thread.ThreadActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.thread.RxjavaActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.network.NetworkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.network.vpn.VpnActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.network.visit.NetworkVisitActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.network.visit.VolleyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.network.visit.OkHttpActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.network.visit.RetrofitActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.activity.ActivityActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.view.StyleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.system.SystemActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.windowmanager.WindowManagerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.view.CustomViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.network.downfile.DownFileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <service
            android:name=".activity.network.jobscheduler.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activity.view.custom.LoadingTextViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.OtherCaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.OtherCaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape" />

        <activity android:name=".activity.ToolBarActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>