<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csp.project">

    <!--
    [uses-sdk]说明
        minSdkVersion:		可编译的最小版本
        targetSdkVersion:	针对哪个版本进行开发
    -->
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <permission android:name="my.android.app.BROADCAST_RECEIVER" />

    <uses-permission android:name="my.android.app.BROADCAST_RECEIVER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
    [application]说明
        allowBackup:
        icon:	App图标
        label:	App名称
        theme:	App主题



    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--
        [activity]初始活动
            name:	初始活动的Java
            label:	该界面标签
            [intent-filter]


        -->
        <activity
            android:name="com.project.hello.ActivityHello"
            android:configChanges="orientation|keyboard"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 注册[ContentProvider] -->
        <provider
            android:name="com.project.day1025.providerResolver.CustomContentProvider"
            android:authorities="com.app.csp"
            android:enabled="true"
            android:exported="true"></provider>
        <!-- 注册[service] -->
        <service
            android:name="com.project.day1026.service.MixService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="my.android.app.MixService" />
            </intent-filter>
        </service>
        <service
            android:name="com.project.day1026.service.aidl.AIDLRemoteService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="my.android.app.AIDLRemoteService" />
            </intent-filter>
        </service>
        <service
            android:name="com.project.day1026.service.MyIntentService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="my.android.app.MyIntentService" />
            </intent-filter>
        </service>
        <!-- 注册[Receiver] -->
        <!-- 该信息会写入系统服务进程中, 当广播发出信息后, 系统会自动启动广播接收者对象 -->
        <!-- 当广播接收者对象所在的进程不存在时, 系统会自动启动该进程 -->
        <!-- [activity] -->
        <activity
            android:name="com.project.day1013.uicomponents.Activity1013_ActionBar"
            android:label="@string/pro1013_action_bar"
            android:parentActivityName="com.project.hello.ActivityHello"
            android:theme="@style/MyTheme">

            <!-- 旧版本 -->
            <!-- <meta-data -->
            <!-- android:name="android.super." -->
            <!-- android:value="my.android.app.day1008.player.Day1008_ActivityPlayer" /> -->
        </activity>
        <activity
            android:name="com.project.day1028.activity.ActivityLauchMode"
            android:configChanges="orientation|screenSize"
            android:label="@string/pro_tools"></activity>
        <activity
            android:name="com.project.day1028.activity.ActivityLauchModeStandard"
            android:label="@string/pro_tools"
            android:launchMode="standard"></activity>
        <activity
            android:name="com.project.day1028.activity.ActivityLauchModeSingletop"
            android:label="@string/pro_tools"
            android:launchMode="singleTop"
            android:taskAffinity="com.a"></activity>
        <activity
            android:name="com.project.day1028.activity.ActivityLauchModeSingletask"
            android:label="@string/pro_tools"
            android:launchMode="singleTask"
            android:taskAffinity="com.b">
            <intent-filter>
                <action android:name="my.android.app.ActivityLauchModeSingletask" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.project.day1028.activity.ActivityLauchModeSingleInstance"
            android:label="@string/pro_tools"
            android:launchMode="singleInstance"></activity>

        <!-- ++++++++++++++++++++++ 其他 ++++++++++++++++++++++ -->
        <service
            android:name="com.project.day1028.activity.ServiceToStartActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="my.android.app.ServiceToStartActivity" />
            </intent-filter>
        </service>

        <activity
            android:name="com.project.day0928.exam.Activity0928_Exam"
            android:label="@string/pro0928_exam"></activity>
        <activity
            android:name="com.project.day0928.exam.ExamActivity01_Day0928"
            android:label="@string/pro0928_exam"></activity>
        <activity
            android:name="com.project.day0928.exam.ExamActivity02_Day0928"
            android:label="@string/pro0928_exam"></activity>
        <activity
            android:name="com.project.day0929.login.Activity0929_Login"
            android:label="@string/pro0929_login"></activity>
        <activity
            android:name="com.project.day1008.player.Activity1008_Player"
            android:label="@string/pro1008_player"></activity>
        <activity
            android:name="com.project.day1010.gridviewspinner.Activity1010_GridView_Spinner"
            android:label="@string/pro1010_gridview_spinner"></activity>
        <activity
            android:name="com.project.day1012.event.Activity1012_InputEvent"
            android:label="@string/pro1012_inputEvent"></activity>
        <activity
            android:name="com.project.day1013.uicomponents.Activity1012_UI_Components"
            android:label="@string/pro1012_ui_components"></activity>
        <activity
            android:name="com.project.day1013.uicomponents.Activity1013_Menu"
            android:label="@string/pro1013_menu"></activity>
        <activity
            android:name="com.project.day1013.drawerlayout.Activity1013_DrawerLayoutMenu"
            android:label="@string/pro1013_drawer_layout"></activity>
        <activity
            android:name="com.project.day1013.drawerlayout.Activity1013_DrawerLayout"
            android:label="@string/pro1013_drawer_layout"></activity>
        <activity
            android:name="com.project.day1017.animation.Activity1017_Animation"
            android:label="@string/pro1017_animation"></activity>
		<activity
            android:name="com.project.day1019.sqllite.Activity1019_SQLLite"
            android:label="@string/pro1019_sqllite"></activity>
        <activity
            android:name="my.android.app.tools.generateDBJava.ActivityToolsGenerateDBJava"
            android:label="@string/pro_tools_generate_db_java"></activity>
        <activity
            android:name="com.project.day1021.thread.Activity1021_Thread"
            android:label="@string/pro1021_thread"></activity>
        <activity
            android:name="com.project.tools.hello.ActivityToolsHello"
            android:label="@string/pro_tools_hello"></activity>
        <activity
            android:name="com.project.tools.piture.ActivityPiture"
            android:label="@string/pro_tools_picture"></activity>
        <activity
            android:name="com.project.day1025.providerResolver.Activity1025_ProviderResolver"
            android:label="@string/pro1025_ProviderResolver"></activity>
        <activity
            android:name="com.project.day1026.service.Activity1026_Service"
            android:label="@string/pro1026_service"></activity>
        <activity
            android:name="com.project.day1027.broadcast.Activity1027_Broadcast"
            android:label="@string/pro1027_BroadCast"></activity>
        <activity
            android:name="com.project.day1028.activity.Activity1028_Activity"
            android:label="@string/pro1028_Activity"></activity>
        <activity
            android:name="com.project.day1028.activity.ActivitySaveStateByMemory"
            android:label="@string/pro1028_Activity"></activity>
        <activity
            android:name="com.project.day1028.fragment.Activity1028_Fragment"
            android:label="@string/pro1028_Fragment"></activity>
        <activity
            android:name="com.project.day1028.fragment.Activity1028_Fragment02"
            android:label="@string/pro1028_Fragment"></activity>
        <activity
            android:name="com.project.day1028.fragment.ActivityStaticFragment"
            android:label="@string/pro1028_Fragment"></activity>
        <activity
            android:name="com.project.day1028.fragment.ActivityFragmentViewPager"
            android:label="@string/pro1028_Fragment"></activity>
        <activity
            android:name="com.project.day1029.intent.Activity1029_Intent"
            android:label="@string/pro1029_intent"></activity>
        <activity
            android:name="com.project.day1029.intent.Activity1029_IntentReceiver"
            android:label="@string/pro1029_intent"></activity>
        <activity
            android:name="com.project.day1124.network.Activity1124_Network"
            android:label="@string/pro1124_Network"></activity>
        <activity
            android:name="com.project.day1219.process.Activity1219_Process"
            android:label="@string/pro1219_Process"></activity>
        <activity
            android:name="com.project.day1001.view.Activity1001_View"
            android:label="@string/pro1001_View"></activity>
    </application>

</manifest>